In [1]:
import numpy as np
import pandas as pd

In [4]:
import pandas as pd
df = pd.read_excel('bmc_cases.xlsb', engine='pyxlsb')

In [9]:
df.isna().sum()

Date                                                0
S No                                            47304
Ward                                                0
Test ID (ICMR)                                     13
Patient name                                   116227
Age                                                 0
Gender                                              0
Mobile Number                                  116227
Present Address                                116227
Transferred from Ward                          104523
HealthPost Allocation                           22067
Traceable?                                       1808
Out of Mumbai (Yes / No)                        27132
Assign to other ward                           108526
Person / Official from other ward              107897
Duplicate Entry\n(Yes / No)                     34344
Previous Test ID (only if Duplicate is Yes)    115859
Patient Type (Index / Contact)                  27183
Patient Status                                   1852
Date of Last Status Change                      27774
Symptomatic?                                    34330
Action on Patient                                7609
DCH / DCHC / CCC2 name                          52332
Patient Location                                29269
Patient is from SB (sealed building)            56412
Patient is from CZ (containment zone)           85177
SB / CZ ID                                      70463
Reasons why case is outside CZ, SB             114731
Occupation                                      82922
Heathcare worker Type                          112337
Comments / Remarks                              96936
Calls check?                                   115735
Lab SRF check?                                 115830
Locality check                                 115753
Police Notification                            115800
Comments / Remarks_1                           116027
Patient Status (Central)                         2683
Date of Last Status Change_2                      813
Patient Location (Central)                      33002
Action for ward                                  2683
Disagreement                                    94179
Check                                          116227
Action take                                    116227
dtype: int64

In [13]:
data = df[['Ward','Test ID (ICMR)','Age','Gender','Symptomatic?','Patient Status (Central)','Patient Location (Central)']]

In [14]:
data = data.dropna()

In [16]:
from collections import Counter
Counter(data['Patient Status (Central)'])

Counter({'Recovered': 38366,
         'Active': 11921,
         'Dead': 3105,
         'Status Awaited': 117,
         'Migrated': 3})

In [17]:
data = data[(data['Patient Status (Central)'] == 'Recovered') | (data['Patient Status (Central)'] == 'Dead')]

In [19]:
y = data['Patient Status (Central)']
X = data.drop(['Patient Status (Central)'],axis = 1)

In [20]:
X

,Ward,Test ID (ICMR),Age,Gender,Symptomatic?,Patient Location (Central)
35,A,5087645.0,30,M,Yes,DCH
39,A,5515239.0,53,F,No,DCH
43,A,7614304.0,44,M,No,DCH
123,A,9465964.0,89,M,No,Home Isolation
196,A,10791439.0,39,M,Yes,DCH
...,...,...,...,...,...,...
116220,T,13093022.0,38,F,Yes,Hospitalized
116221,T,13200538.0,74,M,Yes,Hospitalized
116222,T,13547426.0,53,M,Yes,Hospitalized
116223,T,14383724.0,85,M,Yes,Hospitalized
116224,T,15348206.0,58,M,Yes,Hospitalized