In [3]:
%load_ext autoreload
%autoreload 2

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json
import datetime

In [5]:
def get_all_data():
    # Parse data.json file
    data = requests.get('https://api.covid19india.org/data.json').json()

    # Create data frame for testing data
    df_tested = pd.DataFrame.from_dict(data['tested'])
    df_tested = df_tested[np.logical_not(df_tested['source'] == '')]
    df_tested.reset_index(inplace=True, drop=True)

    # Create data frame for statewise data
    for i, x in enumerate(data['statewise']):
        delta_dict = dict([('delta_'+k, v) for k, v in x['delta'].items()])
        data['statewise'][i].update(delta_dict)
        del data['statewise'][i]['delta']
    df_statewise = pd.DataFrame.from_dict(data['statewise'])

    # Create data frame for time series data
    df_india_time_series = pd.DataFrame.from_dict(data['cases_time_series'])
    df_india_time_series['date'] = pd.to_datetime([datetime.datetime.strptime(x[:6]+ ' 2020', '%d %b %Y') for x in df_india_time_series['date']])
    
    # Parse state_district_wise.json file
    data = requests.get('https://api.covid19india.org/state_district_wise.json').json()
    states = data.keys()
    for state in states:
        for district, district_dict in data[state]['districtData'].items():
            delta_dict = dict([('delta_'+k, v) for k, v in district_dict['delta'].items()])
            data[state]['districtData'][district].update(delta_dict)
            del data[state]['districtData'][district]['delta']

    columns = ['state', 'district', 'confirmed', 'delta_confirmed', 'lastupdatedtime']
    df_districtwise = pd.DataFrame(columns=columns)
    for state in states:
        df = pd.DataFrame.from_dict(data[state]['districtData']).T.reset_index()
        df.columns = ['district', 'confirmed', 'delta_confirmed', 'lastupdatedtime']
        df['state'] = state
        df = df[columns]
        df_districtwise = pd.concat([df_districtwise, df], ignore_index=True)
        
    # Parse raw_data.json file
    # Create dataframe for raw history
    data = requests.get('https://api.covid19india.org/raw_data.json').json()
    df_raw_data = pd.DataFrame.from_dict(data['raw_data'])
    df_raw_data = df_raw_data[np.logical_not(df_raw_data['source1'] == '')]

    # Parse travel_history.json file
    # Create dataframe for travel history
    data = requests.get('https://api.covid19india.org/travel_history.json').json()
    df_travel_history = pd.DataFrame.from_dict(data['travel_history'])
    
    return df_tested, df_statewise, df_india_time_series, df_districtwise, df_raw_data, df_travel_history

In [6]:
df_tested, df_statewise, df_india_time_series, df_districtwise, df_raw_data, df_travel_history = get_all_data()

In [7]:
data = requests.get('https://api.rootnet.in/covid19-in/stats/history').json()

In [30]:
columns = ['confirmedCasesForeign', 'confirmedCasesIndian', 'deaths', 'discharged', 'loc', 'date']
df = pd.DataFrame(columns=columns)
for i, data_json in enumerate(data['data']):
    df_temp = pd.DataFrame.from_dict(data['data'][i]['regional'])
    df_temp['date'] = data['data'][i]['day']
    df = pd.concat([df, df_temp])
    
df['confirmedCases'] = df['confirmedCasesForeign'] + df['confirmedCasesIndian']
df

,confirmedCasesForeign,confirmedCasesIndian,deaths,discharged,loc,date,confirmedCases
0,0,4,0,0,Delhi,2020-03-10,4
1,14,0,0,0,Haryana,2020-03-10,14
2,0,1,0,0,Karnataka,2020-03-10,1
3,0,9,0,0,Kerala,2020-03-10,9
4,0,2,0,0,Maharashtra,2020-03-10,2
5,0,1,0,0,Punjab,2020-03-10,1
6,2,0,0,0,Rajasthan,2020-03-10,2
7,0,1,0,0,Tamil Nadu,2020-03-10,1
8,0,1,0,0,Telengana,2020-03-10,1
9,0,1,0,0,Jammu and Kashmir,2020-03-10,1
10,0,2,0,0,Ladakh,2020-03-10,2
11,0,9,0,0,Uttar Pradesh,2020-03-10,9
0,0,5,0,0,Delhi,2020-03-11,5
1,14,0,0,0,Haryana,2020-03-11,14
2,0,4,0,0,Karnataka,2020-03-11,4
3,0,17,0,0,Kerala,2020-03-11,17
4,0,2,0,0,Maharashtra,2020-03-11,2
5,0,1,0,0,Punjab,2020-03-11,1
6,2,1,0,0,Rajasthan,2020-03-11,3
7,0,1,0,0,Tamil Nadu,2020-03-11,1
8,0,1,0,0,Telengana,2020-03-11,1
9,0,1,0,0,Jammu and Kashmir,2020-03-11,1
10,0,2,0,0,Ladakh,2020-03-11,2
11,0,9,0,0,Uttar Pradesh,2020-03-11,9
0,0,6,0,0,Delhi,2020-03-12,6
1,14,0,0,0,Haryana,2020-03-12,14
2,0,4,0,0,Karnataka,2020-03-12,4
3,0,17,0,0,Kerala,2020-03-12,17
4,0,11,0,0,Maharashtra,2020-03-12,11
5,0,1,0,0,Punjab,2020-03-12,1
...,...,...,...,...,...,...,...
0,0,161,1,1,Andhra Pradesh,2020-04-04,161
1,0,10,0,0,Andaman and Nicobar Islands,2020-04-04,10
2,0,1,0,0,Arunachal Pradesh,2020-04-04,1
3,0,24,0,0,Assam,2020-04-04,24
4,0,29,1,0,Bihar,2020-04-04,29
5,0,18,0,0,Chandigarh,2020-04-04,18
6,0,9,0,3,Chhattisgarh,2020-04-04,9
7,1,385,6,8,Delhi,2020-04-04,386
8,1,5,0,0,Goa,2020-04-04,6
9,1,94,9,10,Gujarat,2020-04-04,95
10,14,35,0,24,Haryana,2020-04-04,49
11,0,6,1,1,Himachal Pradesh,2020-04-04,6
12,0,75,2,3,Jammu and Kashmir,2020-04-04,75
13,0,2,0,0,Jharkhand,2020-04-04,2
14,0,128,3,12,Karnataka,2020-04-04,128
15,8,287,2,41,Kerala,2020-04-04,295
16,0,14,0,3,Ladakh,2020-04-04,14
17,0,104,6,0,Madhya Pradesh,2020-04-04,104
18,3,420,19,42,Maharashtra,2020-04-04,423
19,0,2,0,0,Manipur,2020-04-04,2
20,0,1,0,0,Mizoram,2020-04-04,1
21,0,5,0,0,Odisha,2020-04-04,5
22,0,5,0,1,Puducherry,2020-04-04,5
23,0,53,5,1,Punjab,2020-04-04,53
24,2,177,0,3,Rajasthan,2020-04-04,179
25,6,405,1,6,Tamil Nadu,2020-04-04,411
26,10,148,7,1,Telengana,2020-04-04,158
27,1,15,0,2,Uttarakhand,2020-04-04,16
28,1,173,2,19,Uttar Pradesh,2020-04-04,174
29,0,63,3,3,West Bengal,2020-04-04,63

In [31]:
df[df['loc'] == 'Maharashtra']

,confirmedCasesForeign,confirmedCasesIndian,deaths,discharged,loc,date,confirmedCases
4,0,2,0,0,Maharashtra,2020-03-10,2
4,0,2,0,0,Maharashtra,2020-03-11,2
4,0,11,0,0,Maharashtra,2020-03-12,11
5,0,14,0,0,Maharashtra,2020-03-13,14
5,0,14,0,0,Maharashtra,2020-03-14,14
5,0,32,0,0,Maharashtra,2020-03-15,32
5,0,32,0,0,Maharashtra,2020-03-16,32
5,3,36,1,0,Maharashtra,2020-03-17,39
5,3,39,1,0,Maharashtra,2020-03-18,42
6,3,44,1,0,Maharashtra,2020-03-19,47
7,3,49,1,0,Maharashtra,2020-03-20,52
9,3,60,1,0,Maharashtra,2020-03-21,63
10,3,64,2,0,Maharashtra,2020-03-22,67
10,3,71,2,0,Maharashtra,2020-03-23,74
10,3,86,2,0,Maharashtra,2020-03-24,89
10,3,125,3,1,Maharashtra,2020-03-25,128
15,3,121,3,1,Maharashtra,2020-03-26,124
15,3,127,4,15,Maharashtra,2020-03-27,130
15,3,177,5,25,Maharashtra,2020-03-28,180
15,3,183,6,25,Maharashtra,2020-03-29,186
15,3,195,8,25,Maharashtra,2020-03-30,198
15,3,213,9,39,Maharashtra,2020-03-31,216
17,3,299,9,39,Maharashtra,2020-04-01,302
17,3,332,13,42,Maharashtra,2020-04-02,335
18,3,332,16,42,Maharashtra,2020-04-03,335
18,3,420,19,42,Maharashtra,2020-04-04,423