In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns
from hyperopt import hp, tpe, fmin, Trials
from tqdm import tqdm
# from tqdm.notebook import tqdm

from collections import OrderedDict
import itertools
from functools import partial
import datetime
from joblib import Parallel, delayed
import copy

from data.dataloader import get_jhu_data, get_covid19india_api_data
from data.processing import get_district_time_series

from models.seir.seir_testing import SEIR_Testing
from main.seir.optimiser import Optimiser
from utils.plotting import create_plots

## Load Covid19india Data

In [3]:
dataframes = get_covid19india_api_data()
df_district = get_district_time_series(dataframes, state='Karnataka', district='Bengaluru')

## Take Rolling Mean

In [4]:
df_true_fitting = copy.copy(df_district)
df_true_fitting['total_infected'] = df_true_fitting['total_infected'].rolling(5).mean()
df_true_fitting = df_true_fitting[np.logical_not(df_true_fitting['total_infected'].isna())]

## Create Train-Val Split

In [5]:
df_train = df_true_fitting.iloc[:-5, :]
df_val = df_true_fitting.iloc[-5:, :]

In [6]:
df_train

         date  total_infected
4  2020-03-13             3.8
5  2020-03-14             4.6
6  2020-03-15             4.8
7  2020-03-16             5.0
8  2020-03-17             5.6
9  2020-03-18             6.8
10 2020-03-19             8.0
11 2020-03-20             9.2
12 2020-03-21            11.2
13 2020-03-22            13.4
14 2020-03-23            16.2
15 2020-03-24            19.2
16 2020-03-25            23.8
17 2020-03-26            28.2
18 2020-03-27            32.6
19 2020-03-28            36.2
20 2020-03-29            39.6
21 2020-03-30            41.6
22 2020-03-31            43.8
23 2020-04-01            45.8
24 2020-04-02            47.4
25 2020-04-03            49.0
26 2020-04-04            51.2
27 2020-04-05            53.0
28 2020-04-06            54.6
29 2020-04-07            56.8
30 2020-04-08            59.2
31 2020-04-09            61.8
32 2020-04-10            64.6
33 2020-04-11            67.4
34 2020-04-12            70.2
35 2020-04-13            73.0
36 2020-04-14            75.4
37 2020-04-15            77.6
38 2020-04-16            80.4
39 2020-04-17            84.6
40 2020-04-18            89.2
41 2020-04-19            93.2

## Init Optimiser

In [7]:
optimiser = Optimiser()

In [8]:
default_params = optimiser.init_default_params(df_train)

## Run Optimisation

### Gridsearch

In [20]:
variable_param_ranges = {
    'R0' : np.linspace(1.8, 3, 13), 
    'P_severe' : np.linspace(0.3, 0.9, 25),
    'intervention_amount' : np.linspace(0.4, 1, 31)
}

loss_array, list_of_param_dicts = optimiser.gridsearch(df_train, default_params, variable_param_ranges, method='rmse', loss_indices=None)

HBox(children=(FloatProgress(value=0.0, max=10075.0), HTML(value='')))

### Bayes Opt

In [9]:
variable_param_ranges = {
    'R0' : hp.uniform('R0', 1.6, 3),
    'T_inc' : hp.uniform('T_inc', 4, 5),
    'T_inf' : hp.uniform('T_inf', 3, 4),
    'T_recov_severe' : hp.uniform('T_recov_severe', 9, 20),
    'P_severe' : hp.uniform('P_severe', 0.3, 0.99),
    'intervention_amount' : hp.uniform('intervention_amount', 0.3, 1)
}
best, trials = optimiser.bayes_opt(df_train, default_params, variable_param_ranges, method='rmse', num_evals=3500, loss_indices=None)

100%|██████████| 3500/3500 [03:47<00:00, 15.39trial/s, best loss: 1.8896000199232956]

In [10]:
optimiser.solve(best, default_params, df_train)

> /home/users/sansiddh/projects/covid/covid-modelling/main/seir/optimiser.py(32)solve()
-> total_days = (end_date - params_dict['starting_date']).days

(Pdb)  c

,date,S,E,I,D_E,D_I,R_mild,R_severe_home,R_severe_hosp,R_fatal,C,D,hospitalisations,recoveries,fatalities,infectious_unknown,total_infected
0,2020-03-13,9999996,0,3,0,0,0,0,0,0,0,0,0,0,0,3,0
1,2020-03-14,9999993,2,3,0,0,0,0,0,0,0,0,0,0,0,3,0
2,2020-03-15,9999991,3,3,0,0,0,0,1,0,0,0,1,0,0,3,1
3,2020-03-16,9999989,4,3,0,0,0,0,1,0,0,0,1,0,0,3,1
4,2020-03-17,9999987,6,3,0,0,0,0,2,0,0,0,2,0,0,3,2
5,2020-03-18,9999984,7,4,0,0,0,0,3,0,0,0,3,0,0,4,3
6,2020-03-19,9999981,8,4,0,0,0,0,3,0,0,0,3,0,0,4,3
7,2020-03-20,9999976,10,5,0,0,1,0,4,0,0,0,4,0,0,5,4
8,2020-03-21,9999970,13,7,0,0,1,0,5,0,1,0,5,1,0,7,6
9,2020-03-22,9999965,15,8,0,0,1,0,7,0,1,0,7,1,0,8,8
10,2020-03-23,9999961,16,9,0,0,1,0,8,0,2,0,8,2,0,9,10
11,2020-03-24,9999957,16,10,0,0,2,0,10,0,2,0,10,2,0,10,12
12,2020-03-25,9999954,16,11,0,0,2,0,11,0,3,0,11,3,0,11,14
13,2020-03-26,9999952,15,11,0,0,2,0,13,0,3,0,13,3,0,11,16
14,2020-03-27,9999949,14,12,0,0,3,0,15,0,4,0,15,4,0,12,19
15,2020-03-28,9999947,13,12,0,0,3,0,17,0,5,0,17,5,0,12,22
16,2020-03-29,9999944,12,12,0,0,3,0,19,0,6,0,19,6,0,12,25
17,2020-03-30,9999942,12,12,0,0,4,0,20,0,7,0,20,7,0,12,27
18,2020-03-31,9999939,12,11,0,0,4,0,22,0,9,0,22,9,0,11,31
19,2020-04-01,9999937,12,11,0,0,4,0,23,0,10,0,23,10,0,11,33
20,2020-04-02,9999934,11,11,0,0,4,0,25,0,11,0,25,11,0,11,36
21,2020-04-03,9999932,11,11,0,0,4,0,26,0,13,0,26,13,0,11,39
22,2020-04-04,9999930,11,10,0,0,4,0,27,0,14,0,27,14,0,10,41
23,2020-04-05,9999928,11,10,0,0,4,0,28,0,15,0,28,15,0,10,43
24,2020-04-06,9999925,10,10,0,0,4,0,29,0,17,0,29,17,0,10,46
25,2020-04-07,9999923,10,10,0,0,5,0,30,0,19,0,30,19,0,10,49
26,2020-04-08,9999921,10,10,0,0,5,0,31,0,20,0,31,20,0,10,51
27,2020-04-09,9999919,10,9,0,0,5,0,32,0,22,0,32,22,0,9,54
28,2020-04-10,9999917,10,9,0,0,5,0,32,0,24,0,32,24,0,9,56
29,2020-04-11,9999915,9,9,0,0,5,0,33,0,25,0,33,25,0,9,58
30,2020-04-12,9999913,9,9,0,0,5,0,34,0,27,0,34,27,0,9,61
31,2020-04-13,9999911,9,9,0,0,5,0,34,0,29,0,34,29,0,9,63
32,2020-04-14,9999909,9,9,0,0,5,0,35,0,31,0,35,31,0,9,66
33,2020-04-15,9999907,9,8,0,0,4,0,35,0,32,0,35,32,0,8,67
34,2020-04-16,9999905,9,8,0,0,4,0,36,0,34,0,36,34,0,8,70
35,2020-04-17,9999903,8,8,0,0,4,0,36,0,36,0,36,36,0,8,72
36,2020-04-18,9999902,8,8,0,0,4,0,36,0,38,0,36,38,0,8,74