In [4]:
%load_ext autoreload
%autoreload 2

In [5]:
import pandas as pd
import numpy as np
import requests
import datetime

In [6]:
from data.dataloader import get_covid19india_api_data, get_rootnet_api_data
from data.processing import get_district_time_series

In [57]:
dataframes = get_covid19india_api_data()

In [58]:
dataframes.keys()

dict_keys(['df_tested', 'df_statewise', 'df_india_time_series', 'df_districtwise', 'df_raw_data_old', 'df_raw_data', 'df_deaths_recoveries', 'df_districts', 'df_travel_history', 'df_resources'])

In [107]:
df_raw_data_1 = pd.DataFrame.from_dict(data['raw_data'])

data = requests.get('https://api.covid19india.org/raw_data2.json').json()
df_raw_data_2 = pd.DataFrame.from_dict(data['raw_data'])

data = requests.get('https://api.covid19india.org/raw_data3.json').json()
df_raw_data_3 = pd.DataFrame.from_dict(data['raw_data'])
df_raw_data_3 = df_raw_data_3[np.logical_and(df_raw_data_3['dateannounced'] != '', df_raw_data_3['numcases'] != '')]

In [108]:
dataframes['df_raw_data'] = pd.concat([df_raw_data_1, df_raw_data_2, df_raw_data_3], ignore_index=True)
df_raw_data = pd.concat([df_raw_data_1, df_raw_data_2, df_raw_data_3], ignore_index=True)

In [69]:
# df_raw_data_3 = df_raw_data_3[np.logical_and(df_raw_data_3['dateannounced'] != '', df_raw_data_3['numcases'] != '')]
df_raw_data_3

,agebracket,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,entryid,gender,nationality,notes,numcases,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission
0,,,Hospitalized,27/04/2020,,,West Bengal,1,,,Details awaited,38,mohfw.gov.in,,,WB,,,
1,,,Hospitalized,27/04/2020,,Bhilwara,Rajasthan,2,,,Details awaited,2,https://twitter.com/ANI/status/125461859651442...,,,RJ,,,
2,,,Hospitalized,27/04/2020,,Jaipur,Rajasthan,3,,,Details awaited,9,https://twitter.com/ANI/status/125461859651442...,,,RJ,,,
3,28,,Deceased,27/04/2020,Surajpol,Jaipur,Rajasthan,4,M,,Details awaited,1,https://twitter.com/ANI/status/125461859651442...,,,RJ,,,
4,,,Hospitalized,27/04/2020,,Jaisalmer,Rajasthan,5,,,Details awaited,1,https://twitter.com/ANI/status/125461859651442...,,,RJ,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3911,,,Recovered,03/05/2020,,Palghar,Maharashtra,3912,,,,9,https://twitter.com/ANI/status/125697835675241...,,,MH,,,
3912,,,Recovered,03/05/2020,,Pune,Maharashtra,3913,,,,18,https://twitter.com/ANI/status/125697835675241...,,,MH,,,
3913,,,Recovered,03/05/2020,,Raigad,Maharashtra,3914,,,,2,https://twitter.com/ANI/status/125697835675241...,,,MH,,,
3914,,,Deceased,03/05/2020,,Mumbai,Maharashtra,3915,,,,21,https://twitter.com/ANI/status/125697835675241...,,,MH,,,
3915,,,Deceased,03/05/2020,,Pune,Maharashtra,3916,,,,4,https://twitter.com/ANI/status/125697835675241...,,,MH,,,

In [104]:
df_temp = df_raw_data_1[np.logical_and(df_raw_data_1['detectedstate'] == 'Maharashtra', df_raw_data_1['detecteddistrict'] == 'Mumbai')]
df_temp[df_temp['dateannounced'] != df_temp['statuschangedate']]

,agebracket,backupnotes,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,estimatedonsetdate,gender,nationality,notes,patientnumber,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission
256,,,,Hospitalized,21/03/2020,,Mumbai,Maharashtra,,,India,,186,https://arogya.maharashtra.gov.in/1175/Novel--...,,,MH,,19/03/2020,TBD
269,63,"Travel history to UK, had a chronic history of...",,Deceased,21/03/2020,Mumbai,Mumbai,Maharashtra,,M,India,"Travelled from UK, had a chronic history of di...",270,https://twitter.com/PTI_News/status/1241219494...,https://www.thehindu.com/news/cities/mumbai/fi...,https://english.jagran.com/india/coronavirus-p...,MH,,22/03/2020,Imported
497,38,,,Hospitalized,24/03/2020,Mumbai,Mumbai,Maharashtra,,F,India,Travelled from Abu Dhabi,477,https://www.indiatoday.in/india/story/coronavi...,https://arogya.maharashtra.gov.in/pdf/pressnot...,https://twitter.com/rajeshtope11/status/124213...,MH,,23/03/2020,Imported
498,,,,Hospitalized,24/03/2020,Mumbai,Mumbai,Maharashtra,,,,Details awaited,478,https://www.indiatoday.in/india/story/coronavi...,,,MH,,23/03/2020,TBD
883,,,,Hospitalized,28/03/2020,Mumbai,Mumbai,Maharashtra,,,,"Travel history, details awaited",850,https://twitter.com/ANI/status/124352344889629...,,,MH,,27/03/2020,Imported
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3667,,,,Hospitalized,04/04/2020,,Mumbai,Maharashtra,,,,,3668,https://twitter.com/rajeshtope11/status/124648...,,,MH,,,
3668,,,,Hospitalized,04/04/2020,,Mumbai,Maharashtra,,,,,3669,https://twitter.com/rajeshtope11/status/124648...,,,MH,,,
3669,,,,Hospitalized,04/04/2020,,Mumbai,Maharashtra,,,,,3670,https://twitter.com/rajeshtope11/status/124648...,,,MH,,,
3670,,,,Hospitalized,04/04/2020,,Mumbai,Maharashtra,,,,,3671,https://twitter.com/rajeshtope11/status/124648...,,,MH,,,
13433,,,,Hospitalized,17/04/2020,,Mumbai,Maharashtra,,,,Details awaited,13293,https://twitter.com/PTI_News/status/1250811102...,https://twitter.com/ANI/status/125081303689546...,https://twitter.com/ANI/status/125081359865117...,MH,,16/04/2020,

In [16]:
df_district = get_district_time_series(dataframes, state='Gujarat', district='Ahmedabad')

> /home/users/sansiddh/projects/covid/covid-modelling/data/processing.py(7)get_district_time_series()
-> if type(dataframes) is dict:

(Pdb)  c

In [17]:
df_district

         date  total_infected
0  2020-03-20               3
1  2020-03-21               5
2  2020-03-22               8
3  2020-03-23              14
4  2020-03-24              14
5  2020-03-25              14
6  2020-03-26              14
7  2020-03-27              14
8  2020-03-28              17
9  2020-03-29              21
10 2020-03-30              22
11 2020-03-31              23
12 2020-04-01              31
13 2020-04-02              31
14 2020-04-03              38
15 2020-04-04              45
16 2020-04-05              53
17 2020-04-06              64
18 2020-04-07              83
19 2020-04-08              83
20 2020-04-09             142
21 2020-04-10             197
22 2020-04-11             243
23 2020-04-12             282
24 2020-04-13             320
25 2020-04-14             373
26 2020-04-15             450
27 2020-04-16             545
28 2020-04-17             623
29 2020-04-18             862
30 2020-04-19            1101
31 2020-04-20            1248
32 2020-04-21            1373
33 2020-04-22            1501
34 2020-04-23            1652
35 2020-04-24            1821
36 2020-04-25            2003
37 2020-04-26            2181
38 2020-04-27            2456
39 2020-04-28            2668
40 2020-04-29            2933
41 2020-04-30            3247
42 2020-05-01            3613
43 2020-05-02            3946
44 2020-05-03            4314

In [89]:
df_raw_data_1 = dataframes['df_raw_data'][dataframes['df_raw_data']['detectedstate'] == 'Karnataka']
df_raw_data_1 = df_raw_data_1[df_raw_data_1['detecteddistrict'] == 'Bengaluru']
df_raw_data_1['dateannounced'] = pd.to_datetime(df_raw_data_1['dateannounced'], format='%d/%m/%Y')
df_raw_data_2 = dataframes['df_raw_data_2'][dataframes['df_raw_data_2']['state'] == 'Karnataka']

In [74]:
df_raw_data_1[df_raw_data_1['detecteddistrict'] == 'Bengaluru']['statepatientnumber'].to_numpy()

array(['KA-P1', 'KA-P2', 'KA-P3', 'KA-P4', 'KA-P5', 'KA-P8', 'KA-P10',
       'KA-P11', 'KA-P13', 'KA-P12', 'KA-P14', 'KA-P19', 'KA-P16',
       'KA-P17', 'KA-P18', 'KA-P22', 'KA-P23', 'KA-P24', 'KA-P25',
       'KA-P28', 'KA-P29', 'KA-P30', 'KA-P31', 'KA-P32', 'KA-P33',
       'KA-P38', 'KA-P43', 'KA-P44', 'KA-P45', 'KA-P46', 'KA-P47',
       'KA-P48', 'KA-P49', 'KA-P50', 'KA-P53', 'KA-P54', 'KA-P55',
       'KA-P57', 'KA-P58', 'KA-P59', 'KA-P61', 'KA-P68', 'KA-P74',
       'KA-P84', 'KA-P92', 'KA-P93', 'KA-P100', 'KA-P101', 'KA-P102',
       'KA-P107', 'KA-P108', 'KA-P129', 'KA-P130', 'KA-P131', 'KA-P132',
       'KA-P145', 'KA-P146', 'KA-P152', 'KA-P153', 'KA-P167', 'KA-P168',
       'KA-P170', 'KA-P181', 'KA-P189', 'KA-P190', 'KA-P195', 'KA-P196',
       'KA-P197', 'KA-P198', 'KA-P199', 'KA-P206', 'KA-P208', 'KA-P215',
       'KA-P217', 'KA-P218', 'KA-P219', 'KA-P247', 'KA-P252', 'KA-P253',
       'KA-P259', 'KA-P261', 'KA-P277', 'KA-P280', 'KA-P281', 'KA-P290',
       'KA-P291', 'KA-P292', 'KA-P316', 'KA-P317', 'KA-P326', 'KA-P327',
       'KA-P349', 'KA-P350', 'KA-P351', 'KA-P352', 'KA-P353', 'KA-P359',
       'KA-P376', 'KA-P377', 'KA-P378', 'KA-P419', 'KA-P420', 'KA-P433',
       'KA-P434', 'KA-P435', 'KA-P436', 'KA-P437', 'KA-P438', 'KA-P439',
       'KA-P440', 'KA-P441', 'KA-P444'], dtype=object)

In [61]:
print(len(np.unique(df_raw_data_2['slno'])), len(df_raw_data_2['slno']))
df_raw_data_2.loc[df_raw_data_2['state'] == 'Karnataka', 'date'].to_numpy()

162 162

array(['13/03/2020', '20/03/2020', '24/03/2020', '24/03/2020',
       '26/03/2020', '27/03/2020', '27/03/2020', '27/03/2020',
       '30/03/2020', '31/03/2020', '31/03/2020', '01/04/2020',
       '02/04/2020', '02/04/2020', '03/04/2020', '05/04/2020',
       '06/04/2020', '06/04/2020', '06/04/2020', '06/04/2020',
       '06/04/2020', '06/04/2020', '06/04/2020', '06/04/2020',
       '07/04/2020', '07/04/2020', '07/04/2020', '07/04/2020',
       '07/04/2020', '08/04/2020', '08/04/2020', '08/04/2020',
       '08/04/2020', '09/04/2020', '09/04/2020', '09/04/2020',
       '10/04/2020', '10/04/2020', '10/04/2020', '10/04/2020',
       '11/04/2020', '11/04/2020', '11/04/2020', '11/04/2020',
       '11/04/2020', '12/04/2020', '12/04/2020', '12/04/2020',
       '12/04/2020', '12/04/2020', '12/04/2020', '12/04/2020',
       '12/04/2020', '12/04/2020', '12/04/2020', '12/04/2020',
       '12/04/2020', '12/04/2020', '12/04/2020', '12/04/2020',
       '13/04/2020', '13/04/2020', '13/04/2020', '13/04/2020',
       '13/04/2020', '13/04/2020', '13/04/2020', '13/04/2020',
       '14/04/2020', '14/04/2020', '14/04/2020', '14/04/2020',
       '14/04/2020', '14/04/2020', '14/04/2020', '14/04/2020',
       '14/04/2020', '14/04/2020', '14/04/2020', '14/04/2020',
       '14/04/2020', '15/04/2020', '15/04/2020', '15/04/2020',
       '15/04/2020', '15/04/2020', '15/04/2020', '15/04/2020',
       '15/04/2020', '15/04/2020', '15/04/2020', '15/04/2020',
       '16/04/2020', '16/04/2020', '16/04/2020', '17/04/2020',
       '17/04/2020', '17/04/2020', '17/04/2020', '17/04/2020',
       '17/04/2020', '18/04/2020', '18/04/2020', '18/04/2020',
       '18/04/2020', '18/04/2020', '18/04/2020', '18/04/2020',
       '18/04/2020', '18/04/2020', '18/04/2020', '18/04/2020',
       '18/04/2020', '18/04/2020', '18/04/2020', '18/04/2020',
       '18/04/2020', '18/04/2020', '19/04/2020', '19/04/2020',
       '19/04/2020', '19/04/2020', '19/04/2020', '19/04/2020',
       '19/04/2020', '19/04/2020', '19/04/2020', '20/04/2020',
       '21/04/2020', '21/04/2020', '21/04/2020', '21/04/2020',
       '21/04/2020', '21/04/2020', '21/04/2020', '21/04/2020',
       '21/04/2020', '21/04/2020', '21/04/2020', '21/04/2020',
       '21/04/2020', '21/04/2020', '21/04/2020', '21/04/2020',
       '21/04/2020', '21/04/2020', '22/04/2020', '22/04/2020',
       '23/04/2020', '23/04/2020', '23/04/2020', '23/04/2020',
       '23/04/2020', '23/04/2020', '23/04/2020', '23/04/2020',
       '23/04/2020', '23/04/2020', '23/04/2020', '23/04/2020',
       '23/04/2020', '23/04/2020'], dtype=object)

In [86]:
df_raw_data_1 = df_raw_data_1[df_raw_data_1['detecteddistrict'] == 'Bengaluru']
df_raw_data_1['dateannounced'] = pd.to_datetime(df_raw_data_1['dateannounced'], format='%d/%m/%Y')

,agebracket,backupnotes,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,estimatedonsetdate,gender,nationality,notes,patientnumber,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission
41,46,"Mindtree Employee, Returned from US via London",,Recovered,09/03/2020,Bengaluru,Bengaluru,Karnataka,,M,India,"Travelled from US via London, Mindtree Employee",42,https://www.indiatoday.in/india/story/tracking...,,,KA,KA-P1,27/03/2020,Imported
50,40,"Dell Employee, Returned from Austin on Feb 28",,Recovered,10/03/2020,Bengaluru,Bengaluru,Karnataka,,M,India,"Travelled from US on Feb 28, Dell Employee",51,https://www.indiatoday.in/india/story/coronavi...,,,KA,KA-P2,24/03/2020,Imported
51,47,Wife of P51,P51,Recovered,10/03/2020,Bengaluru,Bengaluru,Karnataka,,F,India,Wife of P51,52,https://www.indiatoday.in/india/story/coronavi...,https://www.newindianexpress.com/states/karnat...,,KA,KA-P3,27/03/2020,Local
52,13,Daughter of P51 and P52,P51,Recovered,10/03/2020,Bengaluru,Bengaluru,Karnataka,,F,India,Daughter of P51 and P52,53,https://www.indiatoday.in/india/story/coronavi...,,,KA,KA-P4,24/03/2020,Local
73,26,"Google Employee, Came from Greece to Mumbai on...",,Recovered,12/03/2020,Bengaluru,Bengaluru,Karnataka,,M,India,"Travelled from Greece to Mumbai on March 6th, ...",73,https://www.indiatoday.in/india/story/tracking...,https://www.newindianexpress.com/states/karnat...,,KA,KA-P5,20/03/2020,Imported
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23154,26,,,Hospitalized,24/04/2020,,Bengaluru,Karnataka,,M,,Contact of KA-P419,23155,https://t.me/Karnataka_KoViD19_Broadcast/2413,,,KA,KA-P458,24/04/2020,
23155,35,,,Hospitalized,24/04/2020,,Bengaluru,Karnataka,,M,,Contact of KA-P419,23156,https://t.me/Karnataka_KoViD19_Broadcast/2413,,,KA,KA-P459,24/04/2020,
23156,31,,,Hospitalized,24/04/2020,,Bengaluru,Karnataka,,M,,Contact of KA-P419,23157,https://t.me/Karnataka_KoViD19_Broadcast/2413,,,KA,KA-P460,24/04/2020,
23157,32,,,Hospitalized,24/04/2020,,Bengaluru,Karnataka,,M,,Contact of KA-P419,23158,https://t.me/Karnataka_KoViD19_Broadcast/2413,,,KA,KA-P461,24/04/2020,
23158,24,,,Hospitalized,24/04/2020,,Bengaluru,Karnataka,,M,,Contact of KA-P419,23159,https://t.me/Karnataka_KoViD19_Broadcast/2413,,,KA,KA-P462,24/04/2020,

In [42]:
data = requests.get('https://api.covid19india.org/districts_daily.json').json()

df_districts = pd.DataFrame(columns=['notes', 'active', 'confirmed', 'deceased', 'recovered', 'date', 'state', 'district'])
for state in data['districtsDaily'].keys():
    for dist in data['districtsDaily'][state].keys():
        df = pd.DataFrame.from_dict(data['districtsDaily'][state][dist])
        df['state'] = state
        df['district'] = dist
        df_districts = pd.concat([df_districts, df], ignore_index=True)
        
df_districts = df_districts[['state', 'district', 'date', 'active', 'confirmed', 'deceased', 'recovered', 'notes']]
df_districts.loc[df_districts['district'] == 'Bengaluru', 'district'] = 'Bengaluru Urban'
df_districts.loc[df_districts['district'] == 'Ahmadabad', 'district'] = 'Ahmedabad'

In [43]:
df_districts[df_districts['district'] == 'Ahmedabad']

        state   district        date active confirmed deceased recovered notes
1029  Gujarat  Ahmedabad  2020-04-21   1373      1373        0         0   NaN
1030  Gujarat  Ahmedabad  2020-04-22   1353      1501       62        86
1031  Gujarat  Ahmedabad  2020-04-23   1470      1652       69       113
1032  Gujarat  Ahmedabad  2020-04-24   1625      1821       83       113
1033  Gujarat  Ahmedabad  2020-04-25   1802      2003       86       115
1034  Gujarat  Ahmedabad  2020-04-26   1980      2181       86       115
1035  Gujarat  Ahmedabad  2020-04-27   2057      2378      109       212
1036  Gujarat  Ahmedabad  2020-04-28   2173      2542      128       241
1037  Gujarat  Ahmedabad  2020-04-29   2377      2777      137       263
1038  Gujarat  Ahmedabad  2020-04-30   2561      3026      149       316
1039  Gujarat  Ahmedabad  2020-05-01   2729      3293      165       399
1423  Gujarat  Ahmedabad  2020-05-02   2896      3543      185       462
1424  Gujarat  Ahmedabad  2020-05-03   3076      3817      208       533
1425  Gujarat  Ahmedabad  2020-05-04   3076      3817      208       533

In [56]:
dataframes['df_deaths_recoveries']

,agebracket,city,date,district,gender,nationality,notes,patientnumbercouldbemappedlater,patientstatus,slno,source1,source2,source3,state,statecode,_cx0b9
0,,,13/03/2020,,,,KA-P6,P74,Deceased,59,Opening Data as of Mar 29,,,Karnataka,KA,NaN
1,,,20/03/2020,,,,KA-P5,,Recovered,54,Opening Data as of Mar 29,,,Karnataka,KA,NaN
2,,,24/03/2020,,,,KA-P2,,Recovered,55,Opening Data as of Mar 29,,,Karnataka,KA,NaN
3,,,24/03/2020,,,,KA-P4,,Recovered,56,Opening Data as of Mar 29,,,Karnataka,KA,NaN
4,,,26/03/2020,,,,KA-P53,P690,Deceased,60,Opening Data as of Mar 29,,,Karnataka,KA,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7402,,,26/04/2020,,,,,,Recovered,7424,,,,Delhi,DL,NaN
7403,,,26/04/2020,,,,,,Recovered,7425,,,,Delhi,DL,NaN
7404,,,26/04/2020,,,,,,Recovered,7426,,,,Delhi,DL,NaN
7405,60,,26/04/2020,Kolkata,M,,First doctor to pass away in WB. He was Assist...,,Deceased,7427,https://www.wbhealth.gov.in/uploaded_files/cor...,https://www.ndtv.com/india-news/coronavirus-pa...,,West Bengal,WB,NaN
7406,34,,26/04/2020,Kolkata,M,,Admitted to hospital on Apr 23rd. Had breathin...,,Deceased,7428,https://www.wbhealth.gov.in/uploaded_files/cor...,https://timesofindia.indiatimes.com/city/kolka...,,West Bengal,WB,NaN

In [94]:
dr_snos = dataframes['df_deaths_recoveries'][dataframes['df_deaths_recoveries']['statecode'] == 'MH']['slno'].to_numpy()
dataframes['df_deaths_recoveries'][dataframes['df_deaths_recoveries']['statecode'] == 'MH']

,agebracket,city,date,district,gender,nationality,notes,patientnumbercouldbemappedlater,patientstatus,slno,source1,source2,source3,state,statecode,_cx0b9
8,85,Mumbai,29/03/2020,Mumbai,M,,"Suffering from Diabetes, had a pacemaker, no t...",,Deceased,1,https://arogya.maharashtra.gov.in/pdf/epressno...,https://www.deccanherald.com/national/west/dea...,,Maharashtra,MH,NaN
9,80,Mumbai,29/03/2020,Mumbai,M,,"patient passed away at the Fortis Hospital, Mu...",,Deceased,2,https://arogya.maharashtra.gov.in/pdf/epressno...,https://www.indiatoday.in/india/story/coronavi...,,Maharashtra,MH,NaN
10,86,Ghatkopar,29/03/2020,Mumbai Suburban,F,,,,Deceased,3,https://arogya.maharashtra.gov.in/pdf/epressno...,,,Maharashtra,MH,NaN
11,,,29/03/2020,Mumbai,,,,,Deceased,4,https://arogya.maharashtra.gov.in/pdf/epressno...,,,Maharashtra,MH,NaN
12,,,29/03/2020,Mumbai,,,,,Deceased,5,https://arogya.maharashtra.gov.in/pdf/epressno...,,,Maharashtra,MH,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7194,,,26/04/2020,,,,,,Recovered,7216,https://twitter.com/ANI/status/125441053696980...,,,Maharashtra,MH,NaN
7195,,,26/04/2020,,,,,,Recovered,7217,https://twitter.com/ANI/status/125441053696980...,,,Maharashtra,MH,NaN
7196,,,26/04/2020,,,,,,Recovered,7218,https://twitter.com/ANI/status/125441053696980...,,,Maharashtra,MH,NaN
7197,,,26/04/2020,,,,,,Recovered,7219,https://twitter.com/ANI/status/125441053696980...,,,Maharashtra,MH,NaN
7198,,,26/04/2020,,,,,,Recovered,7220,https://twitter.com/ANI/status/125441053696980...,,,Maharashtra,MH,NaN

In [95]:
dataframes['df_raw_data_old']
raw_slnos = dataframes['df_raw_data_old'][np.logical_and(dataframes['df_raw_data_old']['statecode'] == 'MH', dataframes['df_raw_data_old']['patientnumber'].isin(dr_snos))]['patientnumber'].to_numpy()
dataframes['df_raw_data_old'][np.logical_and(dataframes['df_raw_data_old']['statecode'] == 'MH', dataframes['df_raw_data_old']['patientnumber'].isin(dr_snos))]

,_dnp34,agebracket,backupnotes,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,estimatedonsetdate,...,nationality,notes,patientnumber,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission
146,NaN,28,"Kasaba Peth Woman, Travel History to France & ...",,Hospitalized,18/03/2020,Pune,Pune,Maharashtra,,...,India,"Travelled from France & Netherlands, Kasaba Pe...",147,https://twitter.com/ANI/status/124011247795149...,https://timesofindia.indiatimes.com/city/pune/...,https://www.thehindu.com/news/national/coronav...,MH,,18/03/2020,Imported
154,NaN,68,"Residing at N Ward,Close contact of another Co...",P138,Hospitalized,18/03/2020,Mumbai,Mumbai,Maharashtra,,...,India,"Residing at N Ward,Close contact of P138",155,https://twitter.com/PTI_News/status/1240259888...,https://twitter.com/THMumbai/status/1240262937...,,MH,,18/03/2020,Local
309,NaN,,Travel history to Congo,,Hospitalized,21/03/2020,Yavatmal,Yavatmal,Maharashtra,,...,India,Travelled from Congo,310,https://twitter.com/ANI/status/124133490312956...,,,MH,,21/03/2020,Imported
497,NaN,38,,,Hospitalized,24/03/2020,Mumbai,Mumbai,Maharashtra,,...,India,Travelled from Abu Dhabi,477,https://www.indiatoday.in/india/story/coronavi...,https://arogya.maharashtra.gov.in/pdf/pressnot...,https://twitter.com/rajeshtope11/status/124213...,MH,,23/03/2020,Imported
498,NaN,,,,Hospitalized,24/03/2020,Mumbai,Mumbai,Maharashtra,,...,,Details awaited,478,https://www.indiatoday.in/india/story/coronavi...,,,MH,,23/03/2020,TBD
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6706,NaN,,,,Hospitalized,09/04/2020,,,Maharashtra,,...,,Details awaited,6707,https://twitter.com/rajeshtope11/status/124828...,,,MH,,09/04/2020,
6707,NaN,,,,Hospitalized,09/04/2020,,,Maharashtra,,...,,Details awaited,6708,https://twitter.com/rajeshtope11/status/124828...,,,MH,,09/04/2020,
6708,NaN,,,,Hospitalized,09/04/2020,,,Maharashtra,,...,,Details awaited,6709,https://twitter.com/rajeshtope11/status/124828...,,,MH,,09/04/2020,
6709,NaN,,,,Hospitalized,09/04/2020,Thane,Thane,Maharashtra,,...,,Details awaited,6710,https://twitter.com/rajeshtope11/status/124828...,,,MH,,09/04/2020,
6710,NaN,,,,Hospitalized,09/04/2020,Thane,Thane,Maharashtra,,...,,Details awaited,6711,https://twitter.com/rajeshtope11/status/124828...,,,MH,,09/04/2020,

In [96]:
dataframes['df_deaths_recoveries'][np.logical_and(dataframes['df_deaths_recoveries']['statecode'] == 'MH', dataframes['df_deaths_recoveries']['slno'].isin(raw_slnos))]

,agebracket,city,date,district,gender,nationality,notes,patientnumbercouldbemappedlater,patientstatus,slno,source1,source2,source3,state,statecode,_cx0b9
155,,Pimpri-Chinchwad,30/03/2020,Pune,,,4 Nagpur,,Recovered,147,https://twitter.com/rajeshtope11/status/124462...,,,Maharashtra,MH,NaN
163,,,30/03/2020,Ahmednagar,,,1 Ahmadnagar,,Recovered,155,https://twitter.com/rajeshtope11/status/124462...,,,Maharashtra,MH,NaN
310,,,03/04/2020,,,,Details awaited,,Recovered,310,https://twitter.com/ANI/status/124609813303515...,,,Maharashtra,MH,NaN
459,50,Thane,06/04/2020,Thane,M,,"From Ambarnath died at Bhabha Hospital, Bandra...",,Deceased,477,https://arogya.maharashtra.gov.in/pdf/covidepr...,,,Maharashtra,MH,NaN
460,30,Vasai,06/04/2020,Palghar,F,,Pregnant woman from Mumbai's Nalasopara who te...,,Deceased,478,https://arogya.maharashtra.gov.in/pdf/covidepr...,https://www.cnbctv18.com/healthcare/maharashtr...,,Maharashtra,MH,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6704,,,25/04/2020,,,,,,Recovered,6707,,,,Maharashtra,MH,NaN
6705,,,25/04/2020,,,,,,Recovered,6708,,,,Maharashtra,MH,NaN
6706,,,25/04/2020,,,,,,Recovered,6709,,,,Maharashtra,MH,NaN
6707,,,25/04/2020,,,,,,Recovered,6710,,,,Maharashtra,MH,NaN
6708,,,25/04/2020,,,,,,Recovered,6711,,,,Maharashtra,MH,NaN

In [66]:
df_temp = dataframes['df_raw_data_old'].merge(dataframes['df_deaths_recoveries'], how='inner', left_on='patientnumber', right_on='slno')
df_temp

,_dnp34,agebracket_x,backupnotes,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,estimatedonsetdate,...,notes_y,patientnumbercouldbemappedlater,patientstatus,slno,source1_y,source2_y,source3_y,state,statecode_y,_cx0b9
0,Thrissur,20,Student from Wuhan,,Recovered,30/01/2020,Thrissur,Thrissur,Kerala,,...,"Suffering from Diabetes, had a pacemaker, no t...",,Deceased,1,https://arogya.maharashtra.gov.in/pdf/epressno...,https://www.deccanherald.com/national/west/dea...,,Maharashtra,MH,NaN
1,NaN,,Student from Wuhan,,Recovered,02/02/2020,Alappuzha,Alappuzha,Kerala,,...,"patient passed away at the Fortis Hospital, Mu...",,Deceased,2,https://arogya.maharashtra.gov.in/pdf/epressno...,https://www.indiatoday.in/india/story/coronavi...,,Maharashtra,MH,NaN
2,NaN,,Student from Wuhan,,Recovered,03/02/2020,Kasaragod,Kasaragod,Kerala,,...,,,Deceased,3,https://arogya.maharashtra.gov.in/pdf/epressno...,,,Maharashtra,MH,NaN
3,NaN,45,Travel history to Italy and Austria,,Recovered,02/03/2020,East Delhi (Mayur Vihar),East Delhi,Delhi,,...,,,Deceased,4,https://arogya.maharashtra.gov.in/pdf/epressno...,,,Maharashtra,MH,NaN
4,NaN,24,"Travel history to Dubai, Singapore contact",,Recovered,02/03/2020,Hyderabad,Hyderabad,Telangana,,...,,,Deceased,5,https://arogya.maharashtra.gov.in/pdf/epressno...,,,Maharashtra,MH,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7402,NaN,,,,Hospitalized,10/04/2020,,Mumbai,Maharashtra,,...,,,Recovered,7424,,,,Delhi,DL,NaN
7403,NaN,,,,Hospitalized,10/04/2020,,Mumbai,Maharashtra,,...,,,Recovered,7425,,,,Delhi,DL,NaN
7404,NaN,,,,Hospitalized,10/04/2020,,Mumbai,Maharashtra,,...,,,Recovered,7426,,,,Delhi,DL,NaN
7405,NaN,,,,Hospitalized,10/04/2020,,Mumbai,Maharashtra,,...,First doctor to pass away in WB. He was Assist...,,Deceased,7427,https://www.wbhealth.gov.in/uploaded_files/cor...,https://www.ndtv.com/india-news/coronavirus-pa...,,West Bengal,WB,NaN
7406,NaN,,,,Hospitalized,10/04/2020,,Mumbai,Maharashtra,,...,Admitted to hospital on Apr 23rd. Had breathin...,,Deceased,7428,https://www.wbhealth.gov.in/uploaded_files/cor...,https://timesofindia.indiatimes.com/city/kolka...,,West Bengal,WB,NaN

In [ ]:
dataframes['df_raw_data_old']