In [57]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [58]:
from pyathena.connection import Connection
from pyathena.pandas_cursor import PandasCursor
from pyathena import connect

import pandas as pd

In [2]:
sql = 'SELECT * FROM covid_case_summary'

cursor = Connection(schema_name='wiai-covid-data').cursor(PandasCursor)
df = cursor.execute(sql).as_pandas()

AssertionError: Required argument `s3_staging_dir` or `work_group` not found.

In [41]:
with open('../../misc/pyathena/pyathena.rc') as f:
    lines = f.readlines()

lines = [x.strip() for x in lines]
lines = [x.split('export ')[1] for x in lines]
lines = [line.replace('=', '="') + '"' if '="' not in line else line for line in lines]
variables = [line.split('=') for line in lines]

for key, var in variables:
    exec("{} = {}".format(key, var))

cursor = connect(aws_access_key_id=AWS_ACCESS_KEY_ID,
                 aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
                 s3_staging_dir=AWS_ATHENA_S3_STAGING_DIR,
                 region_name=AWS_DEFAULT_REGION, 
                 work_group=AWS_ATHENA_WORK_GROUP,
                 schema_name='wiai-covid-data').cursor(PandasCursor)

In [37]:
df = cursor.execute(sql).as_pandas()

In [38]:
df

,state,district,ward_name,ward_no,date,total,active,mild,moderate,severe,critical,recovered,deceased,partition_0
0,maharashtra,pune,NaN,NaN,2020-04-19 00:00:00.000000,586,482,0,0,0,0,55,49,maharshtra
1,maharashtra,pune,NaN,NaN,2020-04-20 00:00:00.000000,666,549,0,0,0,0,68,49,maharshtra
2,maharashtra,pune,NaN,NaN,2020-04-21 00:00:00.000000,708,570,0,0,0,0,87,51,maharshtra
3,maharashtra,pune,NaN,NaN,2020-04-22 00:00:00.000000,772,595,0,0,0,0,122,55,maharshtra
4,maharashtra,pune,NaN,NaN,2020-04-23 00:00:00.000000,876,687,0,0,0,0,130,59,maharshtra
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92,maharashtra,mumbai,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,maharshtra
93,maharashtra,mumbai,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,maharshtra
94,maharashtra,mumbai,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,maharshtra
95,maharashtra,mumbai,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,maharshtra
96,maharashtra,mumbai,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,maharshtra

In [46]:
df = df[df['district'] == 'pune']
df['date'] = pd.to_datetime(df['date'])

In [48]:
del df['ward_name']
del df['ward_no']
del df['mild']
del df['moderate']
del df['severe']
del df['critical']
del df['partition_0']

In [59]:
from data.processing import get_custom_data_from_db

In [64]:
get_custom_data_from_db()

> /home/users/sansiddh/projects/covid/covid-modelling/data/dataloader.py(73)create_connection()
-> lines = [x.strip() for x in lines]

(Pdb)  c

> /home/users/sansiddh/projects/covid/covid-modelling/data/dataloader.py(117)get_athena_dataframes()
-> tables_list = cursor.execute('Show tables').as_pandas().to_numpy().reshape(-1, )

(Pdb)  c

          state district       date  total  active  recovered  deceased
0   maharashtra     pune 2020-04-19    586     482         55        49
1   maharashtra     pune 2020-04-20    666     549         68        49
2   maharashtra     pune 2020-04-21    708     570         87        51
3   maharashtra     pune 2020-04-22    772     595        122        55
4   maharashtra     pune 2020-04-23    876     687        130        59
5   maharashtra     pune 2020-04-24    980     772        146        62
6   maharashtra     pune 2020-04-25   1070     845        159        66
7   maharashtra     pune 2020-04-26   1139     902        165        72
8   maharashtra     pune 2020-04-27   1217     966        176        75
9   maharashtra     pune 2020-04-28   1339    1057        203        79
10  maharashtra     pune 2020-04-29   1432    1121        230        81
11  maharashtra     pune 2020-04-30   1518    1159        274        85
12  maharashtra     pune 2020-05-01   1611    1195        325        91
13  maharashtra     pune 2020-05-02   1718    1246        378        94
14  maharashtra     pune 2020-05-03   1817    1283        433       101
15  maharashtra     pune 2020-05-04   1878    1288        483       107
16  maharashtra     pune 2020-05-05   1943    1297        535       111
17  maharashtra     pune 2020-05-06   2029    1324        587       118
18  maharashtra     pune 2020-05-07   2146    1350        671       125
19  maharashtra     pune 2020-05-08   2245    1377        732       136
20  maharashtra     pune 2020-05-09   2380    1414        826       140
21  maharashtra     pune 2020-05-10   2482    1318       1020       144
22  maharashtra     pune 2020-05-11   2573    1335       1089       149
23  maharashtra     pune 2020-05-12   2737    1372       1209       156
24  maharashtra     pune 2020-05-13   2824    1284       1377       163
25  maharashtra     pune 2020-05-14   2987    1332       1486       169
26  maharashtra     pune 2020-05-15   3093    1289       1630       174
27  maharashtra     pune 2020-05-16   3295    1412       1698       185
28  maharashtra     pune 2020-05-17   3496    1551       1751       194
29  maharashtra     pune 2020-05-18   3598    1599       1800       199
30  maharashtra     pune 2020-05-19   3747    1630       1910       207
31  maharashtra     pune 2020-05-20   3899    1656       2023       221
32  maharashtra     pune 2020-05-21   4107    1698       2182       227
33  maharashtra     pune 2020-05-22   4398    1786       2371       241
34  maharashtra     pune 2020-05-23   4603    1892       2463       248
35  maharashtra     pune 2020-05-24   4782    1977       2550       255
36  maharashtra     pune 2020-05-25   5181    2182       2735       264
37  maharashtra     pune 2020-05-26   5427    2279       2875       273