In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import requests
import datetime

In [50]:
from data.dataloader import get_covid19india_api_data, get_rootnet_api_data

In [21]:
dataframes = get_covid19india_api_data()

In [24]:
dataframes.keys()

dict_keys(['df_tested', 'df_statewise', 'df_india_time_series', 'df_districtwise', 'df_raw_data', 'df_raw_data_2', 'df_travel_history', 'df_resources'])

In [32]:
dataframes['df_resources']

,category,city,contact,descriptionandorserviceprovided,nameoftheorganisation,phonenumber,state
0,CoVID-19 Testing Lab,Port Blair,http://rmrc.res.in/,Government approved and supported Testing labs...,Regional Medical Research Centre (ICMR),"3192251158,\n3192251159",Andaman & Nicobar
1,CoVID-19 Testing Lab,Kakinada,https://web.archive.org/web/20190103062219/htt...,Government Approved and Supported Testing Lab ...,Rangaraya Medical College,8842363401,Andhra Pradesh
2,Free Food,Vijayawada,http://amruthahastam.org,We are providing free food service to the need...,Amrutha Hastam Charitable Trust,9246472100,Andhra Pradesh
3,CoVID-19 Testing Lab,Vijayawada,http://ssmctumkur.org/,Government Approved and Supported Testing Lab ...,Sidhartha Medical College,8662450390,Andhra Pradesh
4,Fundraisers,Visakhapatnam,http://www.irdwsi.in,Volunteers and Staff to engage in awareness bu...,The Integrated Rural Development of Weaker Sec...,9849120377,Andhra Pradesh
...,...,...,...,...,...,...,...
4616,CoVID-19 Testing Lab,Midnapore,http://midnaporemmc.ac.in/,Government approved and supported Testing labs...,Midnapore Medical College,"3222222400,\n9434736469",West Bengal
4617,Senior Citizen Support,Kolkata,https://www.facebook.com/ushor4you/,Ushor is providing service of delivering essen...,Ushor,"9831511851,\n9831511851,\n9062076210,",West Bengal
4618,Senior Citizen Support,Kolkata,http://www.kolkatapolice.gov.in/HelpLine.aspx,Kolkata Police is happy to introduce a dial-in...,Kolkata Police,9830088884,West Bengal
4619,Government Helpline,Kolkata,http://www.kolkatapolice.gov.in/HelpLine.aspx,Medical Helpline - Kolkata Police is happy to ...,Kolkata Police,9830079999,West Bengal
4620,Fundraisers,Kolkata,https://www.impactguru.com/fundraiser/help-aie...,Help Support The Weakest Who Will Be The Harde...,AIESEC in Kolkata,9163079430,West Bengal

In [ ]:
df_raw_data_2[df_raw_data_2['state'] == 'Karnataka']
print(len(np.unique(df_raw_data_2['slno'])), len(df_raw_data_2['slno']))
df_raw_data_2.loc[df_raw_data_2['state'] == 'Karnataka', 'date'].to_numpy()

In [28]:
df_raw_data[df_raw_data['detectedstate'] == 'Karnataka'].groupby('detecteddistrict').count()

,agebracket,backupnotes,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detectedstate,estimatedonsetdate,gender,nationality,notes,patientnumber,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission
detecteddistrict,,,,,,,,,,,,,,,,,,,
Bagalkote,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21,21
Ballari,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13
Belagavi,43,43,43,43,43,43,43,43,43,43,43,43,43,43,43,43,43,43,43
Bengaluru,111,111,111,111,111,111,111,111,111,111,111,111,111,111,111,111,111,111,111
Bengaluru Rural,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
Bidar,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15,15
Chikkaballapura,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13,13
Dakshina Kannada,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18,18
Davanagere,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Dharwad,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9,9
Gadag,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Kalaburagi,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36,36
Kodagu,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Mandya,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14,14
Mysuru,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88,88
Tumakuru,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Udupi,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Uttara Kannada,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10,10
Vijayapura,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35,35

In [29]:
print(sum(np.logical_and(df_raw_data_2['state'] == 'Karnataka', df_raw_data_2['patientstatus'] == 'Recovered')))
print(sum(np.logical_and(df_raw_data_2['state'] == 'Karnataka', df_raw_data_2['patientstatus'] == 'Deceased')))
print(sum(df_raw_data_2['state'] == 'Karnataka'))

131
17
148

In [13]:
# Parse travel_history.json file
# Create dataframe for travel history
data = requests.get('https://api.covid19india.org/travel_history.json').json()
df_travel_history = pd.DataFrame.from_dict(data['travel_history'])

In [58]:
# Read states time series data from rootnet.in
data = requests.get('https://api.rootnet.in/covid19-in/stats/history').json()
columns = ['confirmedCasesForeign', 'confirmedCasesIndian', 'deaths', 'discharged', 'loc', 'date']
df_state_time_series = pd.DataFrame(columns=columns)
for i, data_json in enumerate(data['data']):
    df_temp = pd.DataFrame.from_dict(data['data'][i]['regional'])
    df_temp['date'] = data['data'][i]['day']
    df_state_time_series = pd.concat([df_state_time_series, df_temp])

df_state_time_series['confirmedCases'] = df_state_time_series['confirmedCasesForeign'] + df_state_time_series['confirmedCasesIndian']
df_state_time_series['date'] = pd.to_datetime(df_state_time_series['date'])
df_state_time_series.columns = [x if x != 'loc' else 'state' for x in df_state_time_series.columns]

In [36]:
data = requests.get('https://api.covid19india.org/raw_data.json').json()
df_raw_data = pd.DataFrame.from_dict(data['raw_data'])
# df_raw_data = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data.csv')

In [16]:
df_raw_data[df_raw_data['detectedstate'] == 'Karnataka']['currentstatus']

41          Recovered
50          Recovered
51          Recovered
52          Recovered
73          Recovered
             ...
21469    Hospitalized
21470    Hospitalized
21471    Hospitalized
21472    Hospitalized
21473    Hospitalized
Name: currentstatus, Length: 443, dtype: object

In [17]:
np.unique(df_raw_data[df_raw_data['detectedstate'] == 'Karnataka']['currentstatus'])

array(['Deceased', 'Hospitalized', 'Recovered'], dtype=object)

In [18]:
len(df_raw_data[np.logical_and(df_raw_data['detectedstate'] == 'Karnataka', df_raw_data['currentstatus'] == 'Recovered')])

60

In [19]:
len(df_raw_data[np.logical_and(df_raw_data['detectedstate'] == 'Karnataka', df_raw_data['currentstatus'] == 'Hospitalized')])

372

In [21]:
len(df_raw_data[np.logical_and(df_raw_data['detectedstate'] == 'Karnataka', df_raw_data['currentstatus'] == 'Deceased')])

11

In [22]:
len(df_raw_data[np.logical_and(df_raw_data['detecteddistrict'] == 'Bengaluru', df_raw_data['currentstatus'] == 'Recovered')])

27

In [10]:
df_raw_data.columns

Index(['agebracket', 'backupnotes', 'contractedfromwhichpatientsuspected',
       'currentstatus', 'dateannounced', 'detectedcity', 'detecteddistrict',
       'detectedstate', 'estimatedonsetdate', 'gender', 'nationality', 'notes',
       'patientnumber', 'source1', 'source2', 'source3', 'statecode',
       'statepatientnumber', 'statuschangedate', 'typeoftransmission',
       '_cyevm'],
      dtype='object')

In [51]:
dataframes = get_rootnet_api_data()

In [52]:
dataframes.keys()

dict_keys(['df_state_time_series', 'df_statewise_beds', 'df_medical_colleges'])

In [55]:
dataframes['df_medical_colleges']

,state,name,city,ownership,admissionCapacity,hospitalBeds
0,A & N Islands,Andaman & Nicobar Islands Insitute of Medical ...,Port Blair,Govt.,100,460
1,Andhra Pradesh,ACSR Government Medical College Nellore,Nellore,Govt.,150,750
2,Andhra Pradesh,Alluri Sitaram Raju Academy of Medical Science...,Eluru,Trust,150,1070
3,Andhra Pradesh,"Andhra Medical College, Visakhapatnam",Visakhapatnam,Govt.,200,2017
4,Andhra Pradesh,Apollo Institute of Medical Sciences and Resea...,Chittoor,Society,150,0
...,...,...,...,...,...,...
495,West Bengal,"Midnapore Medical College, Midnapore",Midnapore,Govt,150,740
496,West Bengal,"Murshidabad Medical College & Hospitals, Mursh...",Murshidabad,Govt,100,820
497,West Bengal,"Nilratan Sircar Medical College, Kolkata",Kolkata,Govt,250,1890
498,West Bengal,"North Bengal Medical College, Darjeeling Siliguri",Siliguri,Govt,150,599
499,West Bengal,"RG Kar Medical College, Kolkata",Kolkata,Govt,200,1210