In [42]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [43]:
import pandas as pd
import numpy as np
import requests
import datetime

In [44]:
from data.dataloader import get_covid19india_api_data, get_rootnet_api_data
from data.processing import get_district_time_series

In [45]:
dataframes = get_covid19india_api_data()

In [46]:
dataframes.keys()

dict_keys(['df_tested', 'df_statewise', 'df_india_time_series', 'df_districtwise', 'df_raw_data', 'df_raw_data_2', 'df_travel_history', 'df_resources'])

In [49]:
data = requests.get('https://api.covid19india.org/raw_data1.json').json()
df_raw_data_1 = pd.DataFrame.from_dict(data['raw_data'])

data = requests.get('https://api.covid19india.org/raw_data2.json').json()
df_raw_data_2 = pd.DataFrame.from_dict(data['raw_data'])

data = requests.get('https://api.covid19india.org/raw_data3.json').json()
df_raw_data_3 = pd.DataFrame.from_dict(data['raw_data'])
df_raw_data_3 = df_raw_data_3[np.logical_and(df_raw_data_3['dateannounced'] != '', df_raw_data_3['numcases'] != '')]

In [74]:
dataframes['df_raw_data'] = pd.concat([df_raw_data_1, df_raw_data_2, df_raw_data_3], ignore_index=True)
df_raw_data = pd.concat([df_raw_data_1, df_raw_data_2, df_raw_data_3], ignore_index=True)

In [69]:
# df_raw_data_3 = df_raw_data_3[np.logical_and(df_raw_data_3['dateannounced'] != '', df_raw_data_3['numcases'] != '')]
df_raw_data_3

,agebracket,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,entryid,gender,nationality,notes,numcases,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission
0,,,Hospitalized,27/04/2020,,,West Bengal,1,,,Details awaited,38,mohfw.gov.in,,,WB,,,
1,,,Hospitalized,27/04/2020,,Bhilwara,Rajasthan,2,,,Details awaited,2,https://twitter.com/ANI/status/125461859651442...,,,RJ,,,
2,,,Hospitalized,27/04/2020,,Jaipur,Rajasthan,3,,,Details awaited,9,https://twitter.com/ANI/status/125461859651442...,,,RJ,,,
3,28,,Deceased,27/04/2020,Surajpol,Jaipur,Rajasthan,4,M,,Details awaited,1,https://twitter.com/ANI/status/125461859651442...,,,RJ,,,
4,,,Hospitalized,27/04/2020,,Jaisalmer,Rajasthan,5,,,Details awaited,1,https://twitter.com/ANI/status/125461859651442...,,,RJ,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3911,,,Recovered,03/05/2020,,Palghar,Maharashtra,3912,,,,9,https://twitter.com/ANI/status/125697835675241...,,,MH,,,
3912,,,Recovered,03/05/2020,,Pune,Maharashtra,3913,,,,18,https://twitter.com/ANI/status/125697835675241...,,,MH,,,
3913,,,Recovered,03/05/2020,,Raigad,Maharashtra,3914,,,,2,https://twitter.com/ANI/status/125697835675241...,,,MH,,,
3914,,,Deceased,03/05/2020,,Mumbai,Maharashtra,3915,,,,21,https://twitter.com/ANI/status/125697835675241...,,,MH,,,
3915,,,Deceased,03/05/2020,,Pune,Maharashtra,3916,,,,4,https://twitter.com/ANI/status/125697835675241...,,,MH,,,

In [75]:
df_district = get_district_time_series(df_raw_data[df_raw_data['currentstatus'] == 'Deceased'], state='Maharashtra', district='Pune')

In [76]:
df_district

         date  total_infected
0  2020-04-02               1
1  2020-04-03               4
2  2020-04-04               6
3  2020-04-05               7
4  2020-04-06               7
5  2020-04-07               7
6  2020-04-08               7
7  2020-04-09               7
8  2020-04-10               7
9  2020-04-11               7
10 2020-04-12               7
11 2020-04-13               7
12 2020-04-14               7
13 2020-04-15               8
14 2020-04-16               8
15 2020-04-17               8
16 2020-04-18               8
17 2020-04-19               8
18 2020-04-20               8
19 2020-04-21               8
20 2020-04-22               8
21 2020-04-23               8
22 2020-04-24               8
23 2020-04-25               8
24 2020-04-26               8
25 2020-04-27              12
26 2020-04-28              14
27 2020-04-29              17
28 2020-04-30              20
29 2020-05-01              31
30 2020-05-02              34
31 2020-05-03              38

In [89]:
df_raw_data_1 = dataframes['df_raw_data'][dataframes['df_raw_data']['detectedstate'] == 'Karnataka']
df_raw_data_1 = df_raw_data_1[df_raw_data_1['detecteddistrict'] == 'Bengaluru']
df_raw_data_1['dateannounced'] = pd.to_datetime(df_raw_data_1['dateannounced'], format='%d/%m/%Y')
df_raw_data_2 = dataframes['df_raw_data_2'][dataframes['df_raw_data_2']['state'] == 'Karnataka']

In [74]:
df_raw_data_1[df_raw_data_1['detecteddistrict'] == 'Bengaluru']['statepatientnumber'].to_numpy()

array(['KA-P1', 'KA-P2', 'KA-P3', 'KA-P4', 'KA-P5', 'KA-P8', 'KA-P10',
       'KA-P11', 'KA-P13', 'KA-P12', 'KA-P14', 'KA-P19', 'KA-P16',
       'KA-P17', 'KA-P18', 'KA-P22', 'KA-P23', 'KA-P24', 'KA-P25',
       'KA-P28', 'KA-P29', 'KA-P30', 'KA-P31', 'KA-P32', 'KA-P33',
       'KA-P38', 'KA-P43', 'KA-P44', 'KA-P45', 'KA-P46', 'KA-P47',
       'KA-P48', 'KA-P49', 'KA-P50', 'KA-P53', 'KA-P54', 'KA-P55',
       'KA-P57', 'KA-P58', 'KA-P59', 'KA-P61', 'KA-P68', 'KA-P74',
       'KA-P84', 'KA-P92', 'KA-P93', 'KA-P100', 'KA-P101', 'KA-P102',
       'KA-P107', 'KA-P108', 'KA-P129', 'KA-P130', 'KA-P131', 'KA-P132',
       'KA-P145', 'KA-P146', 'KA-P152', 'KA-P153', 'KA-P167', 'KA-P168',
       'KA-P170', 'KA-P181', 'KA-P189', 'KA-P190', 'KA-P195', 'KA-P196',
       'KA-P197', 'KA-P198', 'KA-P199', 'KA-P206', 'KA-P208', 'KA-P215',
       'KA-P217', 'KA-P218', 'KA-P219', 'KA-P247', 'KA-P252', 'KA-P253',
       'KA-P259', 'KA-P261', 'KA-P277', 'KA-P280', 'KA-P281', 'KA-P290',
       'KA-P291', 'KA-P292', 'KA-P316', 'KA-P317', 'KA-P326', 'KA-P327',
       'KA-P349', 'KA-P350', 'KA-P351', 'KA-P352', 'KA-P353', 'KA-P359',
       'KA-P376', 'KA-P377', 'KA-P378', 'KA-P419', 'KA-P420', 'KA-P433',
       'KA-P434', 'KA-P435', 'KA-P436', 'KA-P437', 'KA-P438', 'KA-P439',
       'KA-P440', 'KA-P441', 'KA-P444'], dtype=object)

In [61]:
print(len(np.unique(df_raw_data_2['slno'])), len(df_raw_data_2['slno']))
df_raw_data_2.loc[df_raw_data_2['state'] == 'Karnataka', 'date'].to_numpy()

162 162

array(['13/03/2020', '20/03/2020', '24/03/2020', '24/03/2020',
       '26/03/2020', '27/03/2020', '27/03/2020', '27/03/2020',
       '30/03/2020', '31/03/2020', '31/03/2020', '01/04/2020',
       '02/04/2020', '02/04/2020', '03/04/2020', '05/04/2020',
       '06/04/2020', '06/04/2020', '06/04/2020', '06/04/2020',
       '06/04/2020', '06/04/2020', '06/04/2020', '06/04/2020',
       '07/04/2020', '07/04/2020', '07/04/2020', '07/04/2020',
       '07/04/2020', '08/04/2020', '08/04/2020', '08/04/2020',
       '08/04/2020', '09/04/2020', '09/04/2020', '09/04/2020',
       '10/04/2020', '10/04/2020', '10/04/2020', '10/04/2020',
       '11/04/2020', '11/04/2020', '11/04/2020', '11/04/2020',
       '11/04/2020', '12/04/2020', '12/04/2020', '12/04/2020',
       '12/04/2020', '12/04/2020', '12/04/2020', '12/04/2020',
       '12/04/2020', '12/04/2020', '12/04/2020', '12/04/2020',
       '12/04/2020', '12/04/2020', '12/04/2020', '12/04/2020',
       '13/04/2020', '13/04/2020', '13/04/2020', '13/04/2020',
       '13/04/2020', '13/04/2020', '13/04/2020', '13/04/2020',
       '14/04/2020', '14/04/2020', '14/04/2020', '14/04/2020',
       '14/04/2020', '14/04/2020', '14/04/2020', '14/04/2020',
       '14/04/2020', '14/04/2020', '14/04/2020', '14/04/2020',
       '14/04/2020', '15/04/2020', '15/04/2020', '15/04/2020',
       '15/04/2020', '15/04/2020', '15/04/2020', '15/04/2020',
       '15/04/2020', '15/04/2020', '15/04/2020', '15/04/2020',
       '16/04/2020', '16/04/2020', '16/04/2020', '17/04/2020',
       '17/04/2020', '17/04/2020', '17/04/2020', '17/04/2020',
       '17/04/2020', '18/04/2020', '18/04/2020', '18/04/2020',
       '18/04/2020', '18/04/2020', '18/04/2020', '18/04/2020',
       '18/04/2020', '18/04/2020', '18/04/2020', '18/04/2020',
       '18/04/2020', '18/04/2020', '18/04/2020', '18/04/2020',
       '18/04/2020', '18/04/2020', '19/04/2020', '19/04/2020',
       '19/04/2020', '19/04/2020', '19/04/2020', '19/04/2020',
       '19/04/2020', '19/04/2020', '19/04/2020', '20/04/2020',
       '21/04/2020', '21/04/2020', '21/04/2020', '21/04/2020',
       '21/04/2020', '21/04/2020', '21/04/2020', '21/04/2020',
       '21/04/2020', '21/04/2020', '21/04/2020', '21/04/2020',
       '21/04/2020', '21/04/2020', '21/04/2020', '21/04/2020',
       '21/04/2020', '21/04/2020', '22/04/2020', '22/04/2020',
       '23/04/2020', '23/04/2020', '23/04/2020', '23/04/2020',
       '23/04/2020', '23/04/2020', '23/04/2020', '23/04/2020',
       '23/04/2020', '23/04/2020', '23/04/2020', '23/04/2020',
       '23/04/2020', '23/04/2020'], dtype=object)

In [86]:
df_raw_data_1 = df_raw_data_1[df_raw_data_1['detecteddistrict'] == 'Bengaluru']
df_raw_data_1['dateannounced'] = pd.to_datetime(df_raw_data_1['dateannounced'], format='%d/%m/%Y')

,agebracket,backupnotes,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,estimatedonsetdate,gender,nationality,notes,patientnumber,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission
41,46,"Mindtree Employee, Returned from US via London",,Recovered,09/03/2020,Bengaluru,Bengaluru,Karnataka,,M,India,"Travelled from US via London, Mindtree Employee",42,https://www.indiatoday.in/india/story/tracking...,,,KA,KA-P1,27/03/2020,Imported
50,40,"Dell Employee, Returned from Austin on Feb 28",,Recovered,10/03/2020,Bengaluru,Bengaluru,Karnataka,,M,India,"Travelled from US on Feb 28, Dell Employee",51,https://www.indiatoday.in/india/story/coronavi...,,,KA,KA-P2,24/03/2020,Imported
51,47,Wife of P51,P51,Recovered,10/03/2020,Bengaluru,Bengaluru,Karnataka,,F,India,Wife of P51,52,https://www.indiatoday.in/india/story/coronavi...,https://www.newindianexpress.com/states/karnat...,,KA,KA-P3,27/03/2020,Local
52,13,Daughter of P51 and P52,P51,Recovered,10/03/2020,Bengaluru,Bengaluru,Karnataka,,F,India,Daughter of P51 and P52,53,https://www.indiatoday.in/india/story/coronavi...,,,KA,KA-P4,24/03/2020,Local
73,26,"Google Employee, Came from Greece to Mumbai on...",,Recovered,12/03/2020,Bengaluru,Bengaluru,Karnataka,,M,India,"Travelled from Greece to Mumbai on March 6th, ...",73,https://www.indiatoday.in/india/story/tracking...,https://www.newindianexpress.com/states/karnat...,,KA,KA-P5,20/03/2020,Imported
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23154,26,,,Hospitalized,24/04/2020,,Bengaluru,Karnataka,,M,,Contact of KA-P419,23155,https://t.me/Karnataka_KoViD19_Broadcast/2413,,,KA,KA-P458,24/04/2020,
23155,35,,,Hospitalized,24/04/2020,,Bengaluru,Karnataka,,M,,Contact of KA-P419,23156,https://t.me/Karnataka_KoViD19_Broadcast/2413,,,KA,KA-P459,24/04/2020,
23156,31,,,Hospitalized,24/04/2020,,Bengaluru,Karnataka,,M,,Contact of KA-P419,23157,https://t.me/Karnataka_KoViD19_Broadcast/2413,,,KA,KA-P460,24/04/2020,
23157,32,,,Hospitalized,24/04/2020,,Bengaluru,Karnataka,,M,,Contact of KA-P419,23158,https://t.me/Karnataka_KoViD19_Broadcast/2413,,,KA,KA-P461,24/04/2020,
23158,24,,,Hospitalized,24/04/2020,,Bengaluru,Karnataka,,M,,Contact of KA-P419,23159,https://t.me/Karnataka_KoViD19_Broadcast/2413,,,KA,KA-P462,24/04/2020,

In [29]:
print(sum(np.logical_and(df_raw_data_2['state'] == 'Karnataka', df_raw_data_2['patientstatus'] == 'Recovered')))
print(sum(np.logical_and(df_raw_data_2['state'] == 'Karnataka', df_raw_data_2['patientstatus'] == 'Deceased')))
print(sum(df_raw_data_2['state'] == 'Karnataka'))

131
17
148

In [13]:
# Parse travel_history.json file
# Create dataframe for travel history
data = requests.get('https://api.covid19india.org/travel_history.json').json()
df_travel_history = pd.DataFrame.from_dict(data['travel_history'])

In [58]:
# Read states time series data from rootnet.in
data = requests.get('https://api.rootnet.in/covid19-in/stats/history').json()
columns = ['confirmedCasesForeign', 'confirmedCasesIndian', 'deaths', 'discharged', 'loc', 'date']
df_state_time_series = pd.DataFrame(columns=columns)
for i, data_json in enumerate(data['data']):
    df_temp = pd.DataFrame.from_dict(data['data'][i]['regional'])
    df_temp['date'] = data['data'][i]['day']
    df_state_time_series = pd.concat([df_state_time_series, df_temp])

df_state_time_series['confirmedCases'] = df_state_time_series['confirmedCasesForeign'] + df_state_time_series['confirmedCasesIndian']
df_state_time_series['date'] = pd.to_datetime(df_state_time_series['date'])
df_state_time_series.columns = [x if x != 'loc' else 'state' for x in df_state_time_series.columns]

In [36]:
data = requests.get('https://api.covid19india.org/raw_data.json').json()
df_raw_data = pd.DataFrame.from_dict(data['raw_data'])
# df_raw_data = pd.read_csv('https://api.covid19india.org/csv/latest/raw_data.csv')

In [16]:
df_raw_data[df_raw_data['detectedstate'] == 'Karnataka']['currentstatus']

41          Recovered
50          Recovered
51          Recovered
52          Recovered
73          Recovered
             ...
21469    Hospitalized
21470    Hospitalized
21471    Hospitalized
21472    Hospitalized
21473    Hospitalized
Name: currentstatus, Length: 443, dtype: object

In [17]:
np.unique(df_raw_data[df_raw_data['detectedstate'] == 'Karnataka']['currentstatus'])

array(['Deceased', 'Hospitalized', 'Recovered'], dtype=object)

In [18]:
len(df_raw_data[np.logical_and(df_raw_data['detectedstate'] == 'Karnataka', df_raw_data['currentstatus'] == 'Recovered')])

60

In [19]:
len(df_raw_data[np.logical_and(df_raw_data['detectedstate'] == 'Karnataka', df_raw_data['currentstatus'] == 'Hospitalized')])

372

In [21]:
len(df_raw_data[np.logical_and(df_raw_data['detectedstate'] == 'Karnataka', df_raw_data['currentstatus'] == 'Deceased')])

11

In [22]:
len(df_raw_data[np.logical_and(df_raw_data['detecteddistrict'] == 'Bengaluru', df_raw_data['currentstatus'] == 'Recovered')])

27

In [10]:
df_raw_data.columns

Index(['agebracket', 'backupnotes', 'contractedfromwhichpatientsuspected',
       'currentstatus', 'dateannounced', 'detectedcity', 'detecteddistrict',
       'detectedstate', 'estimatedonsetdate', 'gender', 'nationality', 'notes',
       'patientnumber', 'source1', 'source2', 'source3', 'statecode',
       'statepatientnumber', 'statuschangedate', 'typeoftransmission',
       '_cyevm'],
      dtype='object')

In [51]:
dataframes = get_rootnet_api_data()

In [52]:
dataframes.keys()

dict_keys(['df_state_time_series', 'df_statewise_beds', 'df_medical_colleges'])

In [55]:
dataframes['df_medical_colleges']

,state,name,city,ownership,admissionCapacity,hospitalBeds
0,A & N Islands,Andaman & Nicobar Islands Insitute of Medical ...,Port Blair,Govt.,100,460
1,Andhra Pradesh,ACSR Government Medical College Nellore,Nellore,Govt.,150,750
2,Andhra Pradesh,Alluri Sitaram Raju Academy of Medical Science...,Eluru,Trust,150,1070
3,Andhra Pradesh,"Andhra Medical College, Visakhapatnam",Visakhapatnam,Govt.,200,2017
4,Andhra Pradesh,Apollo Institute of Medical Sciences and Resea...,Chittoor,Society,150,0
...,...,...,...,...,...,...
495,West Bengal,"Midnapore Medical College, Midnapore",Midnapore,Govt,150,740
496,West Bengal,"Murshidabad Medical College & Hospitals, Mursh...",Murshidabad,Govt,100,820
497,West Bengal,"Nilratan Sircar Medical College, Kolkata",Kolkata,Govt,250,1890
498,West Bengal,"North Bengal Medical College, Darjeeling Siliguri",Siliguri,Govt,150,599
499,West Bengal,"RG Kar Medical College, Kolkata",Kolkata,Govt,200,1210